@font-face {
  font-family: "product sans";
  src: url("./assets/product-sans/Product\ Sans\ Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "product sans";
  src: url("./assets/product-sans/Product\ Sans\ Bold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
